




div {
font-family: Verdana, Geneva, sans-serif;
font-size: 15px;
letter-spacing: -1px;
word-spacing: 2px;
color: #000000;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;}